$main-color: #ffffff;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$footer-contacts-text-color: rgba(255, 255, 255, 0.6);
$main-dark-gray-color: #2f303a;
$main-light-gray-color: #f5f4fa;
$header-stroke-color: #ececec;
$portfolio-stroke-color: #eeeeee;
$hero-background-color: #c4c4c4;
$hero-overlay-color: rgba(47, 48, 58, 0.4);
$backdrop-black-color: rgba(0, 0, 0, 0.2);
$modal-close-button-border-color: #0000001a;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
